/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
		background: url(flower.jpg) no-repeat center fixed;
 		background-size: cover;

 }

 .container .post{
 	background-color: rgba(247, 245, 220, 0.6);
 }

.panel-default > .panel-heading{
 	text-align: center;
 	background-color: #a97eba;
 }

 .btn-primary, .btn-primary:hover{
 	border-color: #a97eba;
 	background-color: #a97eba;
 }

 .btn-warning, .btn-warning:hover{
	border-color: rgb(247, 245, 220);
	background-color: rgb(247, 245, 220)
 }


 .btn-danger, .btn-danger:hover{
 	border-color: #87aac6;
 	background-color: #87aac6;
 }


.btn-primary, .btn-danger, .btn-warning{
 	color: #433b47;
 }
 a:visited .btn-primary, a:visited .btn-danger,  a:visited .btn-warning{
 	color: #433b47;
 }

 .well{
 	background-color: #c3bcc6;
 }

 .navbar-default{
    border-color: #a97eba;
    text-align: center;
 	background-color: #a97eba;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #433b47;
    background-color: #a97eba;
}

.navbar-default .navbar-nav > li > a {
   color: #433b47;
}


.nav-pic {
	height: 75px;
	width: 75px;

}
