/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
		background: url(cream_rose.jpeg) no-repeat center fixed;
 		background-size: cover;

 }

 .container .post{
 	background-color: transparent;
 }

.panel-default > .panel-heading{
 	text-align: center;
 	background: url(single.jpeg) center;


 }

 .btn-primary, .btn-primary:hover{
 	border-color: #ea8fe2;
 	background-color: #ea8fe2;

 }

 .btn-warning, .btn-warning:hover{
	border-color: rgb(247, 245, 220);
	background-color: rgb(247, 245, 220)
 }


 .btn-danger, .btn-danger:hover{
 	border-color: #87aac6;
 	background-color: #87aac6;
 }


.btn-primary, .btn-danger, .btn-warning{
 	color: #433b47;
 }
 a:visited .btn-primary, a:visited .btn-danger,  a:visited .btn-warning{
 	color: #433b47;
 }

 .well{
 	/*background-color: #7c838e;*/
  background-color-color: rgba(0,0,0,0);
 }

 .welcome{
  text-align: center;
 }

 .navbar-default{
    border-color: rgba(0,0,0,0);
    text-align: center;
    background-color: rgba(0,0,0,0);
  /*background: url(landscape.jpg) center;*/
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #433b47;
}

.navbar-default .navbar-nav > li > a {
   color: #ea8fe2;

}


.nav-pic {
	height: 20px;
	width: 20px;

}
.index-pic {
  height: 100px;
  weight: 100px;

}
.comment-pic {
  height: 50px;
  weight: 50px;

}
.post-pic {
  height: 250px;
  weight: 250px;

}


.user-text{
  text-align: center;
}